<h1>Squadres list</h1>



<div class="panel-body">

    {#{{ stampaTabella(persones) }}#}
{{ dump(pippes) }}

</div>
<ul>
    <li>
        <a href="#"

           onclick="loadFormIntoModal(Routing.generate('squadre_new'));"


        >New</a>
    </li>
</ul>


