{{ form_start(form) }}
<div class="row">
        <div class="col-xs-4 col-md-4">
            {{ form_row(form.nome) }}
        </div>
        <div class="col-xs-4 col-md-4">
            {{ form_row(form.descrizione) }}
        </div>
</div>
{{ form_row(form._token) }}
