{% filter escape %}
<tr>
    <td><input type="text" id="appbundle_classi_elencoStudenti___name___nome" name="appbundle_classi[elencoStudenti][__name__][nome]"
               required="required" maxlength="255" class="form-control" value=""></td>
    <td><input type="text" id="appbundle_classi_elencoStudenti___name___cognome"
               name="appbundle_classi[elencoStudenti][__name__][cognome]" required="required" maxlength="255"
               class="form-control" value=""></td>
</tr>
{% endfilter %}