{% filter escape %}
<tr>
    <td><input type="text" id="appbundle_gruppi_elencoPersone___name___nome" name="appbundle_gruppi[elencoPersone][__name__][nome]"
               required="required" maxlength="255" class="form-control" value=""></td>
    <td><input type="text" id="appbundle_gruppi_elencoPersone___name___cognome"
               name="appbundle_gruppi[elencoPersone][__name__][cognome]" required="required" maxlength="255"
               class="form-control" value=""></td>
</tr>
{% endfilter %}