<div class="row">
    <div class="col-sm-12">

        <div class="alert alert-danger">
            <strong>Attenzione!</strong>:
            Si vuole procedere alla cancellazione dello studente {{ entity.nome }} {{ entity.cognome }} matricola: {{ entity.matricola }}
        </div>
        <hidden id="confirmDeleteId" data="{{ entity.id }}"></hidden>
    </div>
</div>