<h1>Studenti list</h1>

<div class="panel-body">

    {{ stampaTabellaStudenti(studenti) }}


</div>
<ul>
    <li>
        <a href="#"

           onclick="loadFormIntoModal(Routing.generate('studenti_new'));"


        >Nuovo Studente</a>
    </li>
</ul>


