<h1>Persones list</h1>


{% if persones %}

{% endif %}
<div class="panel-body">

    {{ stampaTabella(persones) }}


</div>
<ul>
    <li>
        <a href="#"

           onclick="loadFormIntoModal(Routing.generate('persone_new'));"


        >New</a>
    </li>
</ul>


