{% extends 'base.html.twig' %}

{% block body %}

    {#{{ trovato }}#}
    {#{% if trovato >0 %}#}
        {#<p>{{ persones[0].cognome }} è presente nella base dati</p>#}
    {#{% else %}#}
        {#<p>{{ parametro }} non è presente nella base dati</p>#}
    {#{% endif %}#}

    {{ dump() }}


{% endblock %}
