<h1>Classi list</h1>

<div class="panel-body">

    {{ stampaTabellaClassi(classi) }}
{#{{ dump() }}#}

</div>
<ul>
    <li>
        <a href="#"

           onclick="loadFormIntoModal(Routing.generate('classi_new'));"


        >Nuova Classe</a>
    </li>
</ul>


