<div id="confirmModal" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">TITOLO</h4>
            </div>
            <div class="modal-body">
                <div class="well">
                    <div id="confirmModalContent">


                    </div>
                    <button id="modalSubmit" type="button" class="btn btn-danger pull-right"
                            onclick="confirmDeletion(this,event);" data-loading-text="Eliminazione...">
                        Elimina
                    </button>
                </div>
            </div>
            <div>

            </div>

        </div>

    </div>
</div>
