<div id="formModal" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-xl">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">TITOLO </h4>
            </div>
            <div class="modal-body">
                <div class="well">
                    <div id="formModalContent"></div>
                    <button id="modalSubmit" type="button" class="btn btn-primary pull-right"
                            onclick="handleClick(this,event);" data-loading-text="Salvataggio...">
                        Salva
                    </button>
                </div>
            </div>
            <div>

            </div>

        </div>

    </div>
</div>


